body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.card-img {
  width: 100%;
  /* height: 20vw; */
  object-fit: cover;
}
/* .card {
  width: calc(25% - 8px);
  margin-top: 20px;
  margin-bottom: 10px;
} */

@media all and (max-width: 767px) {
  .banner-responsive {
    height: 250px;
    object-fit: cover;
    object-position: 50%;
  }
  .card-img {
    height: 40vw;
  }
  .position-lemonpie {
    object-position: 80% 80%;
  }
  /* .card {
    width: calc(100% - 8px);
    background-color: blue;
  } */
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .card-img {
    height: 20vw;
  }
  /* .card {
    width: calc(50% - 8px);
  } */
}
